/* Votre Style */

header {
    color: #555;
}

body {
    color: #555;
}

#menu {

}

footer {
    background-color: #fbfbfb;
}

a, a:visited {
    color: #E33D51;
    text-decoration: none;
}
#menu>a, #menu>a:visited {
    color: #555;
    text-decoration: none;
}

.pam {
  list-style-type: none;
}

pre {
      background-color: #FDF6E3;
      vertical-align: center;
      width: 75%;
      padding: 4px;
    }

.kw {
  color: #268BD2;
}
.dt { color: #268BD2; }
.dv, .sourceCode .bn, .sourceCode .fl { color: #D33682; }
.ch { color: #DC322F; }
.st { color: #2AA198; }
.co { color: #93A1A1; }
.ot { color: #A57800; }
.al { color: #CB4B16; font-weight: bold; }
.fu { color: #268BD2; }
.re { }
.er { color: #D30102; font-weight: bold; }
