<!doctype html>
<!--[if lte IE 7]> <html class="no-js ie67 ie678" lang="fr"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8 ie678" lang="fr"> <![endif]-->
<!--[if IE 9]> <html class="no-js ie9" lang="fr"> <![endif]-->
<!--[if gt IE 9]> <!-->
<html class="no-js" lang="fr"> <!--<![endif]-->
    <head>
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <title>Mirai.fr</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="/css/knacss.css" media="all">
        <link rel="stylesheet" href="/css/styles.css" media="all">
    </head>
    <body>
        <header id="header" role="banner" class="line pam">
          <a href="/index.html"><h4>(fun inspiration -> None)</h4></a>
        </header>
        <div id="main" role="main" class="row">
            <div id="menu" class="col w20 pam aside">
                <nav id="navigation" role="navigation">
                    <ul class="pam">
                      <li class="pam"><a href="/archive.html">Archives</a></li>
                      <li class="pam"><a href="/atom.xml">Flux Atom</a></li>
                      <li class="pam"><a href="https://github.com/Engil/blog.mirai.fr">Github</a></li>
                      <li class="pam"><a href="http://cumulus.mirai.fr">Cumulus</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col pam content">
                <h1>$title$</h1>
                $body$
            </div>
        </div>
        <footer id="footer" role="contentinfo" class="line pam txtcenter">
          Blog créé via Hakyll. Sauf mention contraire, contenu sous CC BY-SA
        </footer>
    </body>
</html>
